.aiiif-openseadragon {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.openseadragon-message {
    color: white
}

.aiiif-sources {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 130px;
    overflow: hidden;
}

.aiiif-sources:hover {
    overflow: auto;
}

.aiiif-sources img {
    width: 100%;
    display: block;
    margin: 10px 0;
    cursor: pointer;
}
