.aiiif-splitter {
    background: #d7d6d7 url('../icons/splitter.png') no-repeat 50%;
    z-index: 999;
}


.aiiif-splitter-vertical > .aiiif-splitter {
    cursor: col-resize;
    min-width: 8px;
}

.aiiif-splitter-horizontal > .aiiif-splitter {
    min-height: 8px;
    cursor: row-resize;
}


.aiiif-splitter:hover {
    background-color: black;
}

body.no-select {
    user-select: none;
}

.aiiif-splitter-container {
    display: flex;
    flex-grow: 2;
    overflow: hidden;
}

.aiiif-splitter-horizontal {
    flex-direction: column;
    height: 100%;
}

.aiiif-splitter-container > div {
    display: flex;
    align-items: stretch;
}

.aiiif-splitter-container > div.aiiif-b {
    flex-grow: 2;
}

