.aiiif-file-info {
    width: 100%;
    overflow: auto;
}

.aiiif-file-info > div {
    padding: 8px;
}

.aiiif-file-info * {
    word-wrap:break-word;
}

.aiiif-file-info .label {
    font-weight: bold;
}

.aiiif-show-manifestation {
    background-color: lightgrey;
    display: inline-block;
    padding: 6px;
    border-radius: 4px;
    color: black;
    cursor: pointer;
}

