.aiiif-file-info {
    width: 100%;
    overflow: auto;
}

.aiiif-file-info > div {
    padding: 8px;
}

.aiiif-file-info * {
    word-wrap:break-word;
}

.aiiif-file-info .label {
    font-weight: bold;
}
