.aiiif-item {
    min-height: 45px;
    width: 120px;
    padding: 8px;
    margin: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.aiiif-item.active {
    background-color: #f3f2f1;
}

.aiiif-item-thumbnail {
    background-size: contain;
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    background-position: center;
    margin: 0 auto;
}

.aiiif-item-thumbnail svg, .aiiif-item-thumbnail .svg-inline--fa {
    width: 90%;
    height: 90%;
}

.aiiif-item-thumbnail .fa-folder {
    color: #7cd6fa;
}

.aiiif-item-thumbnail .fa-file-alt {
    color: #a9a9a9;
}

.aiiif-item-label {
    line-height: 14px;
    text-align: center;
    word-break: break-all;
    font-size: 14px;
    margin-top: 4px;
}


.aiiif-list-view > .aiiif-item {
    width: 100%;
    text-align: left;
    padding: 4px 8px;
    margin: 2px;
    min-height: inherit;
    display: flex;
}

.aiiif-list-view > .aiiif-item > .aiiif-item-thumbnail {
    width: 16px;
    height: 16px;
    margin: 0;
}


.aiiif-list-view > .aiiif-item > .aiiif-item-label {
    margin: 0 0 0 6px;
}

.aiiif-bar-search {
    display: flex;
    margin-right: auto;
    flex-grow: 2;
}

.aiiif-bar-search > div {
    margin: auto 0;
}

.aiiif-bar-search > .MuiInputBase-root {
    width: 100%;
}

.aiiif-bar-search .fa-magnifying-glass {
    color: #484646;
    margin-right: 6px;
}
