.aiiif-share-button-group {
    display: flex;
    margin-bottom: 16px;
}

.aiiif-share-button {
    background-color: #888888;
    border-radius: 32px;
    height: 64px;
    width: 64px;
    display: flex;
    margin-right: 16px;
    cursor: pointer;
}

.aiiif-share-button svg {
    margin: auto;
    color: white;
}

.aiiif-share-button-email {
    background-color: #888888;
}

.aiiif-share-button-email svg, .aiiif-share-button-embed svg {
    font-size: 2.2em;
}

.aiiif-share-button-facebook {
    background-color: #3b5998;
}

.aiiif-share-button-facebook svg {
    width: 40%;
}

.aiiif-share-button-twitter {
    background-color: #1da1f2;
}

.aiiif-share-button-twitter svg {
    width: 58%;
    height: inherit;
}

.aiiif-share-button-iiif {
    background-color: #cccccc9e;;
}

.aiiif-share-button-iiif svg {
    width: 60%;
    height: 60%;
}

.aiiif-share-code {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    background-color: #fafafa;
    border-radius: 3px;
    border: 1px solid rgb(237, 237, 237);
    display: block;
    padding: 12px;
    margin: 24px 0 12px;
}
