#audio-player {
    background-color: #404346;
}

.video-js .vjs-time-control {
    display: block;
}
.video-js .vjs-remaining-time {
    display: none;
}

.aiiif-video-container {
    height: 100% !important;
}

.aiiif-content-audio {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.aiiif-content-audio > div:first-of-type {
    min-height: 42px;
}

.vjs-has-started > div {
    height: inherit;
}

.video-js {
    font-size: 14px;
}

.vjs-audio {
    min-height: 42px;
}


.vjs-has-started {
    width: 100%;
}

.aiiif-video-splitter > .aiiif-b {
    position: relative;
}