#viewer {
    background-color: #404346;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: stretch;
    max-height: 100vh;
}

#openseadragon {
    position: relative;
    width: 100%;
    margin: 0 auto;
}


#zoom-in-button {
    left: 10px;
}

#zoom-out-button {
    left:40px;
}

#rotate-right-button {
    left:70px;
}


#home-button {
    left:100px;
}

#fullpage-button {
    left: 130px;
}

#previous-button {
    left:160px;
}

#next-button {
    left:190px;
}

#sources {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 130px;
    overflow: hidden;
}

#sources:hover {
    overflow: auto;
}

#sources img {
    width: 100%;
    display: block;
    margin: 10px 0;
    cursor: pointer;
}

.openseadragon-icon {
    top: 8px;
    position: absolute !important;
    width: 24px;
    height: 24px;
    z-index: 999;
    border: none;
    background-color: transparent;
}

.openseadragon-icon:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.openseadragon-message {
    color: white
}

#spinner {
    width: 64px;
    height: 64px;
    position: fixed;
    left: 50%;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}


#zoom-out2 {
    position: relative;
    top: 0;
    left: 30px;
}

.plain-text {
    background-color: #ffffff;
    padding: 30px;
    width: 540px;
    margin: 0 auto;
    overflow-y: auto;
    align-self: center;
    max-height: 90%;
}

.vjs-has-started {
    height: 100% !important;
}

.vjs-has-started > div {
    height: inherit;
}
