.aiiif-viewer {
    background-color: #404346;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: stretch;
    max-height: 100vh;
}

.aiiif-viewer-spinner{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.aiiif-viewer-spinner > div {
    width: 64px;
    height: 64px;
    position: relative;
}

.aiiif-viewer-spinner > div > div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.aiiif-viewer-spinner >div > div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}

.aiiif-plain-text {
    background-color: #ffffff;
    padding: 30px;
    width: 540px;
    margin: 0 auto;
    overflow-y: auto;
    align-self: center;
    max-height: 90%;
}

.vjs-has-started {
    height: 100% !important;
}

.vjs-has-started > div {
    height: inherit;
}
