.video-js .vjs-time-control {
    display: block;
}
.video-js .vjs-remaining-time {
    display: none;
}

.aiiif-audio.vjs-paused .vjs-big-play-button {
    display: none;
}

.aiiif-audio.vjs-paused .vjs-control-bar {
    display: flex;
}

.aiiif-content-audio {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.aiiif-content-audio > div:first-of-type {
    min-height: 42px;
}

.video-js {
    font-size: 14px;
}

.vjs-audio {
    min-height: 42px;
}


.aiiif-player-container {
    width: 100%;
}

.aiiif-player-container.aiiif-video {
    height: 100%;
}

.aiiif-player-container > div {
    height: inherit;
}

.aiiif-video-splitter > .aiiif-b {
    position: relative;
}
