html, body, #root
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.aiiif-folder-and-info {
    padding-top: 18px;
    display: flex;
    flex-direction: row;
}

.aiiif-folder-view {
    display: flex;
    flex-wrap: wrap;
}

.aiiif-folder-view-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.aiiif-folder-view-container h1 {
    font-size: 1.4em;
}

.aiiif-folder-view-container > div {
    overflow-y: auto;
    padding: 8px;
}

h1 {
    margin-top: 0;
}

h3 {
    margin: 0 0 20px 0 !important;
}

.aiiif-empty {
    margin-top: 24px;
}

.aiiif-provider-logo {
    margin: 30px 0 0;
    max-width: 70%;
    display: block;
    margin-bottom: 20px;
}

.aiiif-fullpage {
    height: 100% !important;
}

/* wired firefox workaround */
.aiiif-content > .aiiif-b {
    height: 1px;
}

