html, body, #root
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

#app {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

#content {
    position: fixed;
    top: 40px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
}

#folder-and-info {
    padding-top: 18px;
    display: flex;
    flex-direction: row;
}

.folder-view {
    display: flex;
    flex-wrap: wrap;
}

#folder-view-container {
    flex: auto;
    margin: 0 224px 0 24px;
}

h1 {
    margin-top: 0;
}

h3 {
    margin: 0 0 20px 0 !important;
}


#iiif-logo {
    display: inline-block;
    margin-top: 42px;
}

#iiif-logo img {
    width: 36px;
    height: 36px;
}

.empty {
    margin-top: 24px;
}

#provider-logo {
    margin: 30px 0 0;
    max-width: 70%;
    display: block;
    margin-bottom: 20px;
}
