#file-info {
    min-width: 200px;
    max-width: 200px;
    margin: 0 20px 20px;
    flex-wrap: wrap-reverse;
    position: fixed;
    right: 0;
}

#file-info * {
    word-wrap:break-word;
}

#file-info .label {
    font-weight: bold;
}
