#file-info {
    min-width: 200px;
    max-width: 200px;
    margin: 0 20px 20px;
    flex-wrap: wrap-reverse;
    position: fixed;
    right: 0;
}

#file-info * {
    word-wrap:break-word;
}

#file-info .label {
    font-weight: bold;
}

#show-manifestation {
    background-color: lightgrey;
    display: inline-block;
    padding: 6px;
    border-radius: 4px;
    color: black;
    cursor: pointer;
}

