#file-info {
    min-width: 200px;
    max-width: 200px;
    margin: 0 20px 20px;
    flex-wrap: wrap-reverse;
}

#file-info * {
    word-wrap:break-word;
}

#file-info .label {
    font-weight: bold;
}

#file-info-content {
    position: sticky;
    top: 18px;
}
