.item {
    min-height: 45px;
    width: 120px;
    padding: 8px;
    margin: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.item.active {
    background-color: lightgray;
}

.item-thumbnail {
    background-size: contain;
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    background-position: center;
    margin: 0 auto;
}

.item-label {
    line-height: 14px;
    text-align: center;
    word-break: break-all;
    font-size: 14px;
    margin-top: 4px;
}


.list-view > .item {
    width: 100%;
    text-align: left;
    padding: 4px 8px;
    margin: 2px;
    min-height: inherit;
    display: flex;
}

.list-view > .item > .item-thumbnail {
    width: 16px;
    height: 16px;
    margin: 0;
}


.list-view > .item > .item-label {
    margin: 0 0 0 6px;
}