.splitter {
    max-width: 8px;
    min-width: 8px;
    background: #d7d6d7 url('../icons/splitter.png') no-repeat 50%;
    z-index: 999;
    cursor: col-resize;
    position: fixed;
    top: 40px;
    bottom: 0;
}

@media (hover: none) and (pointer: coarse) {
    .splitter {
        max-width: 16px;
        min-width: 16px;
    }
}
