.splitter {
    background: #d7d6d7 url('../icons/splitter.png') no-repeat 50%;
    z-index: 999;
    cursor: col-resize;
    position: fixed;
    top: 40px;
    bottom: 0;
}

body.no-select {
    user-select: none;
}
