#topbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    padding: 10px;
    background-color: lightgrey;
    text-align: center;
}

#show-list-view-button {
    background-image: url("../icons/fa/list-solid.svg");
    background-repeat: no-repeat;
    padding-left: 24px;
    margin-left: 32px;
    cursor: pointer;
}

#show-icon-view-button {
    background-image: url("../icons/fa/th-solid.svg");
    background-repeat: no-repeat;
    padding-left: 24px;
    cursor: pointer;
}

#logout-button {
    background-image: url("../icons/fa/sign-out-alt-solid.svg");
    background-repeat: no-repeat;
    padding-left: 24px;
    margin-left: 32px;
    cursor: pointer;
}
