#treeview {
    position: fixed;
    top:40px;
    bottom: 0;
    left: 0;
    padding: 18px 12px;
    background-color: #EDECED;
    overflow-y: auto;
}


.treeview-item {
    padding: 2px 6px;
    cursor: pointer;
    display: inline-flex;
}


.treeview-item.current {
    background-color: #7CD6FA;
    border-radius: 4px;
}

.treeview-caret {
    height: 22px;
    background: url("../icons/fa/caret-right.svg") no-repeat  4px;
    width: 20px;
}

.no-caret {
    height: 22px;
    background: none !important;
    width: 20px;
}


.treeview-label {
    vertical-align: middle;
    word-break: break-all;
    line-height: 24px;
}

.treeview-caret.opened {
    background: url("../icons/fa/caret-down.svg") no-repeat;
}

a {
    text-decoration: none;
}

.label {
    margin: 9px 0 3px 0;
}

.value {
    margin: 0 0 6px 0;
}
