#viewer {
   background-color: #404346;
    position: sticky;
    top:0;
}

#openseadragon {
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

.mejs__container, .mejs__controls {
    background: transparent !important;
}

.mejs__audio {
    width: 100% !important;
}

.mejs__video {
    margin: 0 auto;
    text-align: center !important;
}

.mejs__overlay-play {
    width: 100%;
}
