#viewer {
   background-color: #404346;
    position: sticky;
    top:0;
}

#openseadragon {
    position: relative;
    width: 100%;
    margin: 0 auto;
}


#zoom-in-button {
    left: 8px;
    background-image: url("../icons/fa/search-plus-solid.svg");
}

#zoom-out-button {
    left:36px;
    background-image: url("../icons/fa/search-minus-solid.svg");
}

#rotate-right-button {
    left:64px;
    background-image: url("../icons/fa/if_rotate-right_1608421.svg");
}


#home-button {
    left:92px;
    background-image: url("../icons/fa/home-solid.svg");
}

#fullpage-button {
    left: 120px;
    background-image: url("../icons/fa/arrows-alt-solid.svg");
}

#previous-button {
    left:148px;
    background-image: url("../icons/fa/chevron-circle-left-solid.svg");
}

#next-button {
    left:176px;
    background-image: url("../icons/fa/chevron-circle-right-solid.svg");
}

#sources {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 130px;
    overflow: hidden;
}

#sources:hover {
    overflow: auto;
}

#sources img {
    display: block;
    margin: 10px 0;
    cursor: pointer;
}

.openseadragon-icon {
    top: 8px;
    position: absolute !important;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    z-index: 999;
    background-size: 24px;
}

.openseadragon-message {
    color: white
}

#spinner {
    width: 64px;
    height: 64px;
    position: fixed;
    left: 50%;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}


#zoom-out2 {
    position: relative;
    top: 0;
    left: 30px;
}

.mejs__container, .mejs__controls {
    background: transparent !important;
}

.mejs__audio {
    width: 100% !important;
}

.mejs__video {
    margin: 0 auto;
    text-align: center !important;
}

.mejs__overlay-play {
    width: 100%;
}

.plain-text {
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    background-color: #ffffff;
    padding: 30px;
    max-width: 540px;
    margin: 0 auto;
    overflow-y: auto;
}
