.aiiif-topbar {
    height: 40px;
    padding: 10px;
    background-color: #f3f2f1;
    justify-content: center;
    display: flex;
    z-index: 1;
    width: 100%;
}

.aiiif-bar {
    display: flex;
    height: 40px;
    background-color: #f3f2f1;
    position: sticky;
}

.aiiif-icon-button {
    margin: 0 6px;
    cursor: pointer;
    display: flex;
    vertical-align: middle;
    align-items: center;
    color: black;
    text-decoration: none;
}

.aiiif-icon-button  > svg {
    margin-right: 2px;
}
